*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*Font url*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
/*header and nav ber css*/
nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 200px;
}
.logo
{
    font-size: 45px;
    color:#181818;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
.logo > span
{
    color: #FD6E0A;
}
nav > ul
{
    display: flex;
    list-style: none;
    align-items: center;
}
nav li
{
    margin-right: 50px;
}
nav a
{
    text-decoration: none;
    color:#474747;
}
.btn-primary
{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-family: 700;
    text-align: center;
    color:white;
    padding: 15px 35px;
}
.header
{
    background-color: #fff8f3;
    background-image: url('../img/header_bg.png'), url('../img/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    background-size: auto auto,100px 666px;
}  
.banner
{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-pic
{
    width: 500px;
}
.banner-content
{
    max-width: 500px;
}
.banner-greeting
{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title
{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-discription
{
    margin-bottom: 20px;
}
.btn-download
{
    margin-right: 30px;
}
.about
{
    border-radius: 10px;
    padding: 130px;
    background: #FFF8F3;
    margin: 130px 0;
}
.section-title
{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-discription
{
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;;
    padding: 30px;
}
main
{
    max-width: 1140px;
    margin: 0 auto;
}
main section
{
    margin-top: 130px;
}
.about-info_container
{
    display: flex;
    justify-content: space-around;
}
.about-info
{
    text-align: center;
}
.about-info h4
{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.about-info p
{
    color:#474747;
    font-size: 20px;
    font-weight: 700;
}
#what-i-do-discription
{
    padding: 30px 150px;
}
.skill-container
{
    display: flex;
    gap:24px;
}
.skill
{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-discription
{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.skill-title
{
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.resume-column-title
{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container
{
    display: flex;
    gap: 50px;
}
.resume-item-title
{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top:  30px;
    margin-bottom: 10px;
}
.resume-item-institute
{
    color:  #757575;
    font-size: 20px;
    font-weight: 600;
}
.resume-item-discription
{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    line-height: 28px; 
    margin-top: 20px;
}
.resume-item-info hr
{
    margin-top: 30px;
    color: #D1D1D1;
}
.resume-title
{
    margin-bottom: 100px;
}
.download-cv
{
    text-align: center;
    margin-top: 50px;
}
.foonter-container
{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    gap: 20px;
}
footer
{
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-column
{
    width: 50%;
}
footer .footer-column > p
{
    margin-bottom: 0 !important;
}
.socia-link
{
    padding-left: 24px;
}
.socia-link a
{
    margin-right: 10px;
}
.contact input, textarea
{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: white;
    border: 0;
}
input[type="text"], input[type="email"]
{
    width: 461px;
    height: 40px;
}
textarea
{
    width: 461px;
     height: 180px;
}
input[type="submit"]
{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-family: 700;
    text-align: center;
    color:white;
    padding: 15px 35px;
}
i{
    color: white;
}
/* responsive css */
/* mobile */
@media screen and (max-width:576px) {
    .skill-container, .resume-container, .foonter-container, .about-info_container, nav, nav > ul, .banner
    {
        flex-direction: column;
    }
    #what-i-do-discription, .banner, .resume-column, footer
    {
        padding: 20px;
    }
    input[type="text"], input[type="email"], textarea
    {
        width: 365px;
    }
    input[type="submit"]
    {
        margin: 0 auto;
    }
    .footer-column
    {
        width: 100%;
    }
    .socia-link
    {
        width: 114px;
        padding: 0;
        margin: 0 auto;
    }
    .about
    {
        padding: 20px;
    }
    .about .section-discription
    {
        padding: 10px;
    }
    nav{
        margin: 0;
    }
    .banner{
        padding-bottom: 0;
    }
    .profile-pic 
    {
        width: 100%;
    }
}
@media screen and (min-width:576px) and (max-width:960px) {
    footer
    {
        padding: 30px;
    }
    input[type="text"], input[type="email"], textarea
    {
        width: 80%;
    }
    .socia-link
    {
        width: 114px;
        padding: 0;
        margin: 0 auto;
    }
}