*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*Font url*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
/*header and nav ber css*/
nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 200px;
}
.logo
{
    font-size: 45px;
    color:#181818;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
.logo > span
{
    color: #FD6E0A;
}
nav > ul
{
    display: flex;
    list-style: none;
    align-items: center;
}
nav li
{
    margin-right: 50px;
}
nav a
{
    text-decoration: none;
    color:#474747;
}
.btn-primary
{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-family: 700;
    text-align: center;
    color:white;
    padding: 15px 35px;
}
.header
{
    background-color: #fff8f3;
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}  
.banner
{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-pic
{
    width: 500px;
}
.banner-content
{
    max-width: 500px;
}
.banner-greeting
{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title
{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-discription
{
    margin-bottom: 20px;
}
.btn-download
{
    margin-right: 30px;
}
.about
{
    border-radius: 10px;
    padding: 130px;
    background: #FFF8F3;
    margin: 130px 0;
}
.section-title
{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-discription
{
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;;
}
main
{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info_container
{
    display: flex;
    justify-content: space-around;
}
.about-info
{
    text-align: center;
}
.about-info h4
{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.about-info p
{
    color:#474747;
    font-size: 20px;
    font-weight: 700;
}